.input {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }
  
  .first_input,
  .second_input {
    margin: 10px 10px 10px 10px;
    width: 200px;
    text-align: center;
    background-color: rgb(245, 249, 247);
  }
  .btn {
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    cursor: pointer;
  
    margin: 20px 10px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: white;
    background: #315efb;
    transition: 0.3s;
  }
  .btn:hover {
    box-shadow: 0px 2px 8px 2px rgba(141, 150, 178, 0.3);
    transform: scale(1.05);
  }
  .resutlt {
    margin: 10px 10px 10px 10px;
    height: 300px;
    width: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    border-radius: 5px;
    background-color: rgb(245, 249, 247);
  }
  